[project]
	description = The seed project with the implementation of REDIS, Celery, MongoEngine, django rest framework to quickly get started
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ravi RT Merugu (rrmerugu)
[access "refs/for/refs/*"]
	read = group user/Ravi RT Merugu (rrmerugu)
	push = group user/Ravi RT Merugu (rrmerugu)
	label-Code-Review = -2..+2 group user/Ravi RT Merugu (rrmerugu)
	label-Verified = -1..+1 group user/Ravi RT Merugu (rrmerugu)
	rebase = group user/Ravi RT Merugu (rrmerugu)
	removeReviewer = group user/Ravi RT Merugu (rrmerugu)
	submit = group user/Ravi RT Merugu (rrmerugu)
[access "refs/heads/*"]
	read = group user/Ravi RT Merugu (rrmerugu)
	create = group user/Ravi RT Merugu (rrmerugu)
	push = +force group user/Ravi RT Merugu (rrmerugu)
	pushMerge = group user/Ravi RT Merugu (rrmerugu)
[access "refs/tags/*"]
	push = +force group user/Ravi RT Merugu (rrmerugu)
	pushTag = group user/Ravi RT Merugu (rrmerugu)
	pushSignedTag = group user/Ravi RT Merugu (rrmerugu)
