{% extends "base.html" %}

{% block title %}{{title}} {% endblock %}

{% block content %}

<section>
<div class="home-banner  height-hero-1 ">
	<div class="container ">
		<div class="clearfix m-t-50"></div>
		<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="  m-t-30">The Seed Project</h1>
		</div>


		</div>
	</div>
</div>
</section>


<section>
	<div class="container">
		<div class="col-md-12 m-t-50">
			<!-- <h2 class="text-center">What we provide </h2> -->
		</div>
		<div class="col-md-6 generic-feature">
			<div class="col-xs-2">
				<i class="fa fa-arrows fa-4"></i>
			</div>
			<div class="col-xs-10">
			<h4>Scalable</h4><p>Scalability is the capability of a system, network, or process to handle a growing amount of work, or its potential to be enlarged in order to accommodate that growth.</p>
			</div>
		</div>
		<div class="col-md-6 generic-feature">
			<div class="col-xs-2">
				<i class="fa fa-shield fa-4"></i>
			</div>
			<div class="col-xs-10">
			<h4>Security</h4><p>Security is the capability of a system, network, or process to handle a growing amount of work, or its potential to be enlarged in order to accommodate that growth.</p>
			</div>
		</div>



	</div>
</section>


{% endblock %}