<hr>
<div class="container footer">
	<div class="row">
		<div class="clearfix"></div>
		<ul class="list-inline text-center ">
			<li>RSQUARE LABS &copy; 2012-14</li>
			<li><a title="GitHub" href="https://github.com/rsquarelabs">GitHub</a></li>
			<li><a title="About Us" href="/about">About Us</a></li>
			<li><a title="Blogs" target="_blank" href="http://blog.rsquarelabs.xyz"> Blog </a></li>
			<li><a title="Why RSQUARE LABS" href="/what-we-do"> What we do</a></li>
 			<li><a title="OpenSource" ng-href="/opensource">Opensource</a></li>
			<li><a title="Contact Us" href="/contact"> Contact Us </a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
