<section class="subscribe m-t-50 m-b-10  ">
  <div class="container text-center ">
    <h4 class=" m-t-50 ">Get notified </h4>
    <form class="form-inline m-t-30">
      <div class="form-group">
        <!-- <label for="exampleInputName2">Name</label> -->
        <input type="text" class="form-control" id="subsName" placeholder="Ravi Merugu">
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputEmail2">Email</label> -->
        <input type="email" class="form-control" id="subsEmail" placeholder="yourself@rsquarelabs.xyz">
      </div>
      <button type="submit" class="btn btn-primary">Get Notified</button>
    </form>
    <div class="clearfix  m-t-40 m-b-30 "></div>
  </div>
</section>
